.darkMode{
    background-color: black;
    color: white;
}
.darkMode .introBox{
    background-color: #333;
}
.darkMode .imgBox{
    background-color: #444;
}
.darkMode #searchInput{
    background-color: #555;
    color: white;
    border-color: #00ffd8;
}
.darkMode #searchInput::placeholder{
    color: white;
}
.darkMode #modalTitle{
    color: white;
}
.darkMode .modalHeader{
    border-bottom: 1px solid white;
}
.darkMode .arrow{
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-color: white;
}
#cancel{
    text-decoration-line: line-through;
}
.introBox{
    background-color: #A6E8C9;
    height: 400px;
    padding: 10px;
    margin: 10px 10px 0px 10px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgBox{
    background-color: #E8E8E8;
    height: 400px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    overflow-y: auto;
    object-fit: cover;
}
#head{
    font-style: inter;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}
#intro{
    font-size: 21px;
    font-weight: 300;
    line-height: 1.8;
}
#intro_img{
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 1rem;
    border-radius: 360px;
}
.modal{
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 10;
    overflow: hidden;
}
.modalHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid black;
}
#closeBtn{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    font-weight: bold;
    z-index: 30;
}
.modalContent{
    position: relative;
    width: 1000px;
    height: 800px;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: auto;
}
#modalTitle{
    margin: 0;
    font-size: 2rem;
    color: black;
}
.modalBody{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.arrow{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    padding: 10px;
    font-size: 36px;
    cursor: pointer;
    border-radius: 5px;
}
#prevBtn{
    left: 5%;
}
#nextBtn{
    right: 5%;
}
#modalImg{
    max-width: 90%;
    max-height: 75%;
    width: 700px;
    height: 800px;
    object-fit: contain;
}
.modal.show{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBox{
    padding: 10px;
    text-align: right;
}
#searchInput{
    width: 300px;
    padding: 10px;
    font-size: 15px;
    border: 2px solid #A6E8C9;
    border-radius: 10px;
    outline: #00ffd8;
}
.imgBox img{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
    width: 150px;
    height: 120px;
    cursor: pointer;
}

/*window size: height: 513 width: 887 구현 다하면 테스트 해보기*/