.introBox{
    background-color: #A6E8C9;
    height: 400px;
    padding: 10px;
    margin: 10px 10px 0px 10px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgBox{
    background-color: #E8E8E8;
    height: 400px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    overflow-y: auto;
}
#head{
    font-style: inter;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}
#intro{
    font-size: 21px;
    font-weight: 300;
    /*text-align: center;*/
    line-height: 1.8;
}
#intro_img{
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 1rem;
    border-radius: 360px;
}
.imgBox img{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
    width: 150px;
    height: 120px;
    cursor: pointer;
}
.popup{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 10;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
#cancel{
    text-decoration-line: line-through;
}
.popupContent {
    position: relative;
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}
#popupImg{
    width: 80%;
    height: 100%;
    /*object-fit: contain;*/
}
#closeBtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    font-weight: bold;
}
.searchBox {
    padding: 10px;
    text-align: right;
}
#searchInput {
    width: 300px;
    padding: 10px;
    font-size: 15px;
    border: 2px solid #A6E8C9;
    border-radius: 10px;
    outline: #00ffd8;
}
/*window size: height: 513 width: 887 구현 다하면 테스트 해보기*/